.radialChart {
   position: relative;
   height: auto;
   width: 220px;
}

.radialChart-item {
   position: absolute;
   z-index: 10;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   text-align: center;
   max-width: 60px;
   font-size: 16px;
   color: #74798c;
}
.radialChart-item span {
   color: #282d30;
   font-size: 26px;
}
.radialChart-title {
   position: absolute;
   z-index: 10;
   top: 20px;
   left: 20px;
   font-size: 15px;
   font-weight: 500;
}
